<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous"referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/update.css">
    <title>Create Feedback</title>
  </head>
  <body>
    <section>
      <div class="container">
        <a class="go-back" href="/feedbacks">Go back</a>
        <h1>create new feedback</h1>
        <form class="" action="/feedbacks" method="post">
          <div class="">
            <label for="title"><h3>feedback title</h3></label>
            <p>add a short, descriptive headline</p>
            <input autofocus required id="title" type="text" name="title">
          </div>

          <div class="">
            <label for="category"><h3>category</h3></label>
            <p>choose a category for yout feedback</p>
            <select  required id="category" name="category">
              <option value="feature">feature</option>
              <option value="bug">bug</option>
              <option value="enhancement">enhancement</option>
              <option value="UI">UI</option>
              <option value="UX">UX</option>
            </select>
          </div>

          <div class="">
            <label for="description"><h3>feedback detail</h3></label>
            <p>include any specific comments on what should be improved, added, etc</p>
            <textarea required id="description" name="description" rows="3" cols="35"></textarea>
          </div>

          <button class="button "> <span>add feedback</span> </button>
        </form>

        <form class="cancel-form" action="/feedbacks" method="get">
          <button class="button cancel"> <span>cancel</span> </button>
        </form>


      </div>
    </section>
  </body>
</html>
