body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: 'Jost', sans-serif;
  background-color: #F2F4FF;
}

h3 {
  font-weight: bold;
  text-transform: capitalize;
  color: #3A4374;
  margin-bottom: 0;
  margin: 0.3em 0;
}

p {
  text-transform: capitalize;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0.8em;
  color: #647196;
}

section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  margin: 1em auto;
  margin-top: 2em;
  width: 90%;
  box-shadow: 5px 5px 13px #3A4374;
  s border-radius: 10px;
  /* border: 1px solid red; */
  padding-bottom: 30px;
}

.go-back {
  margin: 1em;
  align-self: flex-start;
  color: #647196;
  text-decoration: none;
}

div h1 {
  color: #3A4374;
  margin-bottom: 0.6em;
  text-align: center;
  font-size: 24px;
  text-transform: capitalize;
}

form {
  display: flex;
  /* border: 1px solid green; */
  flex-direction: column;
  align-items: center;
}

form div {
  /* border: 1px solid green; */
  width: 86%;
  margin: 0.6em 0;
}

form input, form select, form textarea {
  background-color: #F2F4FF;
  border: none;
  height: 33px;
  width: 90%;
  color: #3A4374;
}

form textarea {
  height: 70px;
}

form button {
  background-color: #AD1FEA;
  color: #fff;
  width: 68%;
  border: none;
  border-radius: 15px;
  height: 30px;
  margin-top: 0.7em;
}

.cancel-form, .delete-form {
  width: 86%;
}

.cancel {
  background-color: #3A4374;
  width: 80%;
  text-transform: capitalize;
}

.delete {
  background-color: #D73737;
  width: 80%;
  text-transform: capitalize;
}

.go-back:hover{
  transform: scale(1.2);
  transition: ease-in;
  transition-delay: 0.090s;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

@media (min-width: 501px) {
  p {
    font-size: 22px;
  }

  div h1, label h3  {
    font-size: 24px;
  }

  form {
    width: 95%;
  }

  form div {
    margin: 1.7em 0;
    width: 90%;
  }

  form input, form select, form textarea {
    height: 50px;
    font-size: 22px;
  }

  form button {
    height: 50px;
    width: 50%;
    font-size: 19px;
  }

  .cancel-form, .delete-form {
    width: 95%;
  }

  .delete, .cancel {
    width: 50%;
  }

}
